* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  background-image: url('../img/fondo.jpg');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Inter', sans-serif;
  color: #222;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background: rgba(0, 0, 0, 0.349); 
  color: var(--text-light);
  z-index: 999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.header-left {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.header-title {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 8px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.header-right {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.search-input {
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  border: 1px solid #ccc;
  min-width: 250px;
  font-size: 1rem;
  transition: all 0.2s;
}

.search-input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(76, 132, 186, 0.3);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto; 
  margin-top: 92px; 
}

.card {
  background-color: rgba(255, 255, 255, 0.623);
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.425);
  overflow: hidden; 
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card-banner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px auto 10px; 
  display: block;
  object-fit: cover;
  border: 4px solid var(--primary-color);
}

.card-body {
  padding: 0 1.25rem;
  text-align: center;
}

.card-body p {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: var(--text-dark);
  text-align: left;
}

.card-body p strong {
  color: black;
  min-width: 80px;
  display: inline-block;
}

.card-title {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
  color: var(--bg-dark);
}

.card-footer {
  padding: 1rem;
  border-top: 1px solid #eee;
  text-align: center;
  background-color:none;
}

.modify-btn {
  padding: 0.6rem 1.5rem;
  background-color: var(--primary-color);
  color: rgb(0, 32, 58);
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s, transform 0.1s;
  width: 100%;
}

.modify-btn:hover {
  background-color: var(--primary-hover);
  transform: translateY(-1px);
}

@media (max-width: 640px) {
  .site-header {
      padding: 0 10px;
  }
  .header-title {
      font-size: 1.2rem;
  }
  .search-input { 
      display: none; 
  }
  .container {
      padding: 10px;
      grid-template-columns: 1fr;
      gap: 15px;
  }
}