body {
    margin: 0;
    padding: 0;
    background-color: #F9FAFB;
    line-height: 1.6;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

h1, h2, h3 {
    color: #333333;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #333333;
    transition: all 0.3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

header{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    z-index: 99;
    background-color: transparent; 
    box-shadow: none;
    transition: background-color 0.3s;
    background-color: rgba(8, 8, 44, 0.507);
}

.logo-admin { 
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 2em;
    color: white;
    user-select: none;
    margin: 0;
    font-weight: 900; 
}

.main-nav {
    list-style: none;
}

.main-nav .nav-item {
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    padding-bottom: 5px;
    position: relative;}

.main-nav .nav-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px; 
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.main-nav .nav-item:hover::after {
    transform: scaleX(1);
}

.login-button {
    background-color: #666666;
    color: white;
    padding: 8px 15px;
    border-radius: 5px; 
    font-size: 0.9em; 
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #555555;
}

.hero {
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
    
    color: white;
    padding: 160px 80px 120px 80px; 
    text-align: center;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero-content h2 {
    font-size: 3.5em;
    color: white;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    font-weight: 900;
}

.hero-content p {
    font-size: 1.4em;
    color: #E0E0E0;
    margin-bottom: 30px;
    max-width: 700px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.cta-primary {
    background-color: #666666; 
    color: white;
    padding: 12px 30px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.1em;
    display: inline-block;
}

.cta-primary:hover {
    background-color: #555555;
}

.main-menu-section {
    padding: 60px 30px;
    text-align: center;
}

.section-title {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333333;
}

.section-subtitle {
    font-size: 1.1em;
    color: #666666;
    margin-bottom: 40px;
}

.menu-grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .menu-grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .menu-grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.menu-card {
    display: block;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    border-left: 5px solid;
    border-color:#3e5e9cb4 ;
}

.menu-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.menu-card h3 {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #333333;
}

.menu-card p {
    color: #666666;
    font-size: 1em;
}

footer {
    background-color: rgb(8, 8, 44);
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9em;
}